<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <record id="action_golfzon_dashboard" model="ir.actions.client">
        <field name="name">Golfzon Dashboard</field>
        <field name="tag">golfzon.dashboard</field>
        <field name="target">main</field>
    </record>

    <record id="action_member_group" model="ir.actions.client">
        <field name="name">Member Group</field>
        <field name="tag">golfzon.member_group</field>
        <field name="target">main</field>
    </record>

    <menuitem id="menu_golfzon_main" name="Golfzon" sequence="10"/>
    <menuitem id="menu_golfzon_dashboard" name="Dashboard" parent="menu_golfzon_main" action="action_golfzon_dashboard" sequence="1"/>
    <menuitem id="menu_golfzon_member_group" name="Member Group" parent="menu_golfzon_main" action="action_member_group" sequence="3"/>

</odoo>
